html {
    scroll-behavior: smooth;
}
body{
    width: 100%;
    padding-top: 80px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(65deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-attachment: fixed;
    background-size: 300% 300%;
    animation: 12s ease infinite gradient;
}