.navbar-brand {
  font-size: 1.5em;
  color: orange !important;
}
form.v25{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
}
.link-item{
  cursor: pointer;
}
.fs-7{
  font-size: 1rem;
}
.fs-8{
  font-size: 0.8rem;
}
.mb-15{
  margin-bottom: -2%;
}
.mt-15{
  margin-top: -5%;
}
.hov{
  cursor: pointer;
  width: auto;
}
.hov:hover{
  transition: background-color .2s;
  background-color: rgb(199, 199, 199);
}
.container.carousel{
  margin-top: 1.5rem;
  max-height: 60%;
}

.circle-carsuel{
  border-radius: 50%;
  object-fit: cover;
  margin: 10%;
  padding: auto;
}
.username-acc{
  place-content: space-between;
}
.margin-100{
  margin-top: 15vh;
}
textarea{
  height: 6rem;
  resize:none;
}
.flex-auto{
  flex: auto;
}
.h-10{
  height: 15vh;
}
footer{
  margin-top: 3rem;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
img{
  object-fit: cover;
}
a{
  text-decoration: none;
}
img{
  object-fit: fill;
}
.fs-10{
  font-size: 12rem;
  align-items: center;
}
.mar{
  right: 0;
  margin-left:30%;
}
.martop{
  padding-top: 90px;
}