.row .wrapper{
  position: relative;
  height: 17.7rem;
  width: 20rem;
  border-radius: 10px;
  background: #fff;
  border: 2px dashed #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.wrapper.active{
  border: none;
}
.wrapper .image{
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.wrapper img{
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.content{
    justify-content: center;
    align-items: center;
}
.wrapper .icon{
    font-size: 8rem;
    color: #9658fe;
}
.wrapper .text{
    font-size: 1.2rem;
    font-weight: 500;
    color: #5B5B7B;
}
.wrapper #cancel-btn i{
    position: absolute;
    font-size: 1.2rem;
    right: 1rem;
    top: 1rem;
    box-shadow: #111;
    color: #fff;
    cursor: pointer;
    display: none;
}
.wrapper.active:hover #cancel-btn i{
    display: block;
}
.wrapper #cancel-btn i:hover{
    color: #e74c3c;
}
.wrapper .file-name{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 0.2rem 0;
    text-align: center;
    color: #fff;
    display: none;
    background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}
.wrapper.active:hover .file-name{
    display: block;
}